/* styles.css */
.card-custom {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    padding: 20px;
  }
  
  .card-custom:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-custom img {
    border-radius: 8px;
  }
  
  .card-custom .MuiTypography-h5 {
    font-weight: bold;
    color: #333;
  }
  
  .card-custom .MuiButton-root {
    color: #1E90FF;
  }
  